@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --maya-blue: #79c6fcff;
  --maya-blue-2: #82bee8ff;
  --fawn: #f5b384ff;
  --french-blue: #1374baff;
  --celestial-blue: #5d9fcfff;
}

.content {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(280px, 0.5fr) 3fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "sidebar header"
    "sidebar dashboard"
    "sidebar dashboard";
}

/* SIDEBAR STYLES */

.sidebar {
  grid-area: sidebar;
  background-color: var(--french-blue);
  display: grid;
  grid-template-rows: minmax(100px, 0.2fr) minmax(300px, 1fr) minmax(300px, 1fr);

  padding-left: 1em;
  color: black;
  font-weight: bold;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-header h1{
    padding-left: .5em;
}

.sidebar-group {
  margin-bottom: 1em;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.sidebar-group p {
  padding-left: 0.5em;
}

.sidebar-main {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sidebar-settings {
  margin: 1em auto auto auto;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-icon {
  max-width: 10%;
}

.calender-icon {
  max-width: 12%;
}

/* HEADER STYLES */

.header {
  grid-area: header;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(300px, 2fr) minmax(320px, 0.5fr);
}

.searchbar-icon {
  max-width: 5%;
}

.searchbar-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding-left: 1em;
  height: 100%;
}

input {
  width: 400px;
  margin-left: 0.8em;
  border-radius: 10px;
  border: 1px solid grey;
  height: 23px;
}

.user-settings {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  margin: auto;
}

.user-settings p {
  margin: auto 1em auto 0;
  font-weight: bold;
}

.notification-icon {
  max-width: 20%;
  margin: auto 0 auto auto;
}

.user-pfp {
  max-width: 40%;
}

.user-greetings {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 0.5fr) minmax(320px, 0.5fr);
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "avatar greetpara"
    "avatar greetuser";
}

#greeting-para {
  grid-area: greetpara;
  margin: auto auto 0 0;
  font-weight: bold;
  font-size: 0.7em;
}

#greeting-username {
  grid-area: greetuser;
  margin: 0.5em auto auto 0;
  font-weight: bold;
  font-size: 1em;
}

.user-greetings p {
  grid-area: text;
}
.user-pfp-big {
  max-width: 20%;

  grid-area: avatar;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.header-button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--french-blue);
  background-color: var(--french-blue);
  color: #fff;
}

/* DASHBOARD STYLES */

.dashboard {
  grid-area: dashboard;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(150px, 0.5fr);
  grid-template-rows: minmax(30px, 0.2fr) 1fr 1fr;
  grid-template-areas:
    "projectheading  annonheading"
    "projectwrapper  trendwrapper"
    "projectwrapper  trendwrapper";
  grid-gap: 10px;
  padding: 1em;
}

.project-wrapper {
  grid-area: projectwrapper;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 15px;
}

.project-box {
  background-color: white;
  border-left: 7px solid var(--fawn);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.project-icons-box {
  width: 45%;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.project-icon {
  max-width: 20%;
  margin: auto;
}

.project-box h1 {
  font-size: 1em;
}
.project-box p {
  font-size: 0.7em;
}

.project-heading {
  grid-area: projectheading;
}

.announcments-heading {
  grid-area: annonheading;
}

.trending-wrapper {
  grid-area: trendwrapper;
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr;
  justify-items: center;
}

.trending-box {
  background-color: white;
  height: 100%;
  width: 90%;
  border-radius: 10px;
}

.trending-box h3 {
  font-size: 1em;
}

.trending-box p {
  font-size: 0.8em;
}

.trending-avatar {
  max-width: 10%;
}

.user-trending {
}
